
Visma Restaurant Manager/obj/Debug/Visma Restaurant Manager.csprojAssemblyReference.cache
Visma Restaurant Manager/obj/Debug/Visma Restaurant Manager.pdb
Visma Restaurant Manager/obj/Debug/Visma Restaurant Manager.csproj.FileListAbsolute.txt
Visma Restaurant Manager/obj/Debug/Visma Restaurant Manager.csproj.CoreCompileInputs.cache
Visma Restaurant Manager/.vs/Visma Restaurant Manager/v16/.suo
Visma Restaurant Manager/.vs/Visma Restaurant Manager/v16/.suo
Visma Restaurant Manager/bin/Debug/Visma Restaurant Manager.pdb
